apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

# MAPV uses the CAPI IPAM CRDs. Until CAPI reaches GA, these CRDs must be
# separately installed in production clusters. This workaround can be removed
# when CAPI reaches GA: they will be installed via the CAPI Operator manifests
# along with all other CAPI CRDs.
#
# In 4.21 we bumped CAPI to a version which includes v1beta2, and therefore
# requires a conversion webhook. This would break production vsphere clusters
# using IPAM, because we are not yet deploying this webhook in production
# clusters. As MAPV does not require the v1beta2 IPAM CRDs, we pin them at the
# versions shipped in 4.20 for now.

commonAnnotations:
  # Boilerplate annotations
  exclude.release.openshift.io/internal-openshift-hosted: "true"
  include.release.openshift.io/self-managed-high-availability: "true"
  include.release.openshift.io/single-node-developer: "true"

  # Instructs CVO to only install these resources in clusters with the Default
  # featureset. Specifically this means that they will not be installed in
  # (TechPreview|Custom|Dev)NoUpgrade clusters.
  release.openshift.io/feature-set: Default

resources:
# Pinned at 4.20, as that was the last release which didn't have v1beta2
- https://github.com/openshift/cluster-api/config/crd?ref=de1db2970e7fede7101e5a8188e74942ab6665e3

# Together these 2 patches remove all CRDs except those with the name suffix
# '.ipam.cluster.x-k8s.io'
patches:

# First add the local-config annotation to all CRDs.
# kustomize will not emit resources with this annotation
- target:
    kind: CustomResourceDefinition
  patch: |
    - op: "add"
      path: "/metadata/annotations/config.kubernetes.io~1local-config"
      value: "true"

# Then selectively remove the local-config annotation from CRDs in
# ipam.cluster.x-k8s.io, meaning they will be emitted
- target:
    kind: CustomResourceDefinition
    name: '.*\.ipam\.cluster\.x-k8s\.io$'
  patch: |
    - op: remove
      path: "/metadata/annotations/config.kubernetes.io~1local-config"
