apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

resources:
- ../config/default

patches:
- path: ./patches/enable-metadata-syncing.yaml
- path: ./patches/failure-policy-ignore-ipam-webhooks.yaml
