apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

components:
- tools/vendor/github.com/openshift/cluster-capi-operator/manifests-gen

resources:
- ../config/default

images:
- name: gcr.io/k8s-staging-cluster-api/cluster-api-controller
  newName: registry.ci.openshift.org/openshift
  newTag: cluster-capi-controllers

patches:
- path: ./patches/enable-metadata-syncing.yaml
- path: ./patches/failure-policy-ignore-ipam-webhooks.yaml
- path: ./patches/ipam-crd-storage-version.yaml
  target:
    group: apiextensions.k8s.io
    version: v1
    kind: CustomResourceDefinition
    name: ipaddresses.ipam.cluster.x-k8s.io
- path: ./patches/ipam-crd-storage-version.yaml
  target:
    group: apiextensions.k8s.io
    version: v1
    kind: CustomResourceDefinition
    name: ipaddressclaims.ipam.cluster.x-k8s.io
